/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(219, 219, 219);
}
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    left: 0;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px gray;
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius:50%;
}
.logo span{
    font-size: 18px;
    padding: 15px;
    padding-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
a{
    position: relative;
    color: gray;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.a:hover{
    background-color: #eee;
}
nav:hover{
    width:280px;
    transition: all 0.5s ease;
}
.logout{
    position: relative;
    bottom: 0;

}
